
 @font-face { font-style : bold; src: url("assets/fonts/livvicsemibold600.ttf"); font-family : "Livvic"; font-weight : 600;  }
 @font-face { font-style : normal; src: url("assets/fonts/livvicregular400.ttf"); font-family : "Livvic"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/livvicbold700.ttf"); font-family : "Livvic"; font-weight : 700;  }